# Mongodb

## Task 1: Create DB and Collection

In [4]:
import pymongo
from urllib.parse import quote_plus

username = quote_plus("py")
password = quote_plus("p233340")

connection_string = (
                    f"mongodb+srv://{username}:{password}@com6002ass2.udksn.mongodb.net/"
                    "?retryWrites=true&w=majority&appName=COM6002ASS2"
                    "&tls=true&tlsAllowInvalidCertificates=true"
                    )

client = pymongo.MongoClient(connection_string)

db = client["HSU"]
collection_1 = db["products"]
collection_2 = db["sales"]

## Task 2: Insert Documents

In [5]:
# insert data to the collection
products = [ { "_id": 1, "name": "Apple", "category": "Fruits", "price": 0.5, "stock": 100 }, { "_id": 2, "name": "Banana", "category": "Fruits", "price": 0.3, "stock": 150 }, { "_id": 3, "name": "Carrot", "category": "Vegetables", "price": 0.2, "stock": 200 }, { "_id": 4, "name": "Milk", "category": "Dairy", "price": 1.0, "stock": 50 }, { "_id": 5, "name": "Cheese", "category": "Dairy", "price": 2.5, "stock": 30 } ]
sales = [ { "_id": 1, "productId": 1, "quantity": 10, "date": "2023-10-01" }, { "_id": 2, "productId": 2, "quantity": 5, "date": "2023-10-02" }, { "_id": 3, "productId": 1, "quantity": 7, "date": "2023-10-03" }, { "_id": 4, "productId": 3, "quantity": 20, "date": "2023-10-04" }, { "_id": 5, "productId": 4, "quantity": 15, "date": "2023-10-05" } ]

collection_1.insert_many(products)
collection_2.insert_many(sales)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

## Task 3: List all information

In [ ]:
# query data from the collection
query_1 = collection_1.find()
for q in query_1:
    print(q)

{'_id': 1, 'name': 'Apple', 'category': 'Fruits', 'price': 0.5, 'stock': 100}
{'_id': 2, 'name': 'Banana', 'category': 'Fruits', 'price': 0.3, 'stock': 150}
{'_id': 3, 'name': 'Carrot', 'category': 'Vegetables', 'price': 0.2, 'stock': 200}
{'_id': 4, 'name': 'Milk', 'category': 'Dairy', 'price': 1.0, 'stock': 50}
{'_id': 5, 'name': 'Cheese', 'category': 'Dairy', 'price': 2.5, 'stock': 30}

In [7]:
# query data from the collection
query_2 = collection_2.find()
for q in query_2:
    print(q)

{'_id': 1, 'productId': 1, 'quantity': 10, 'date': '2023-10-01'}
{'_id': 2, 'productId': 2, 'quantity': 5, 'date': '2023-10-02'}
{'_id': 3, 'productId': 1, 'quantity': 7, 'date': '2023-10-03'}
{'_id': 4, 'productId': 3, 'quantity': 20, 'date': '2023-10-04'}
{'_id': 5, 'productId': 4, 'quantity': 15, 'date': '2023-10-05'}

## Task 4: Find Specific Information

In [8]:
# from collection_1, find product with category "Dairy"
query_3 = collection_1.find({"category": "Dairy"})
for q in query_3:
    print(q)

{'_id': 4, 'name': 'Milk', 'category': 'Dairy', 'price': 1.0, 'stock': 50}
{'_id': 5, 'name': 'Cheese', 'category': 'Dairy', 'price': 2.5, 'stock': 30}

In [9]:
# from collection_2, find sales record for profuctId 1
query_4 = collection_2.find({"productId": 1})
for q in query_4:
    print(q)

{'_id': 1, 'productId': 1, 'quantity': 10, 'date': '2023-10-01'}
{'_id': 3, 'productId': 1, 'quantity': 7, 'date': '2023-10-03'}

## Task 5: Advance query

In [10]:
# find total sales quantity per product in collection_2
query_5 = collection_2.aggregate([
    {"$group": {"_id": "$productId", "total_quantity": {"$sum": "$quantity"}}}
])
for q in query_5:
    print(q)

{'_id': 1, 'total_quantity': 17}
{'_id': 4, 'total_quantity': 15}
{'_id': 3, 'total_quantity': 20}
{'_id': 2, 'total_quantity': 5}

In [11]:
# find total sales quantity per product in collection_2, display product name
query_6 = collection_2.aggregate([
    {"$lookup": {"from": "products", "localField": "productId", "foreignField": "_id", "as": "product"}},
    {"$unwind": "$product"},
    {"$group": {"_id": "$product.name", "total_quantity": {"$sum": "$quantity"}}}
])

for q in query_6:
    print(q)

{'_id': 'Carrot', 'total_quantity': 20}
{'_id': 'Milk', 'total_quantity': 15}
{'_id': 'Banana', 'total_quantity': 5}
{'_id': 'Apple', 'total_quantity': 17}